<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AnnarComm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Configuración Interfaz-->
		<add key="nombreEquipo" value="AnnarComMICROSESV60"/>
		<add key="RutaGuardarImagenHistograma" value="C:\logs"/>
		<add key="DiasAtras" value="600"/>
		<add key="ValidaResultado" value="N"/>
		<add key="SobreEscribeResultado" value="S"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="equipoCodigoCaratula" value="NA"/>
		<add key="recativoCodigoCaratula" value="NA"/>
		<add key="utilizacaratulaporequipos" value="N"/>
		<add key="imprimirQueriesDBLog" value="N" />
		<add key="intentosReconexionDB" value="5" />

		<add key="generarGraficas" value="S" />


		<add key="portName" value="COM2" />
		<add key="dataBits" value="8" />
		<add key="baudRate" value="9600" />
		<add key="parity" value="None" />
		<add key="dataMode" value="Text" />
		<add key="stopBits" value="One" />
		<add key="clearOnOpen" value="False" />
		<add key="clearWithDTR" value="False" />
		
		
		

		<!-- Configuracion Log -->
		<add key="nombreLog" value="Interfaz_Resultados_AnnarComMICROSESV60"/>
		<add key="Rutalog" value="C:\logs" />
		<add key="logActivo" value="S" />

		<add key="StrCadenaConeccion" value="Server=190.60.221.66;Port=5432;Database=VETERINARIA2019RV;User Id=postgres;Password=qxnk26yp; MaxPoolSize=1000; "/>
		<!--//H-->

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
